* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    border: red solid 1px;
}

@media screen and (max-width: 976px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 476px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.wrapper > div {
    background-color: burlywood;
    margin: 12px auto;
    padding: 10px;
}

.buttons-icons-content {
    text-align: center;
}